*{
  padding: 0%;
  margin: 0%;
}



.something{
  background-color: #2c698d;
  color: white;
}

.projects h1{
  background-color: #ef5849;
  color: white;
  width: 330px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 3px 3px 9px gray;
}
.achievements h1{
  background-color: #ef5849;
  color: white;
  width: 310px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 3px 3px 9px gray;
}


.foot{
  background-color: #2c698d;
  height: 10vh;
  margin-top: 10%;
 
}
.foot h1{
  font-size: 18px;
  color: white;
  padding: 25px;
  
}

.box{
  height: 800px;
  width: 800px;
  margin: auto;
  padding: auto;
}

#image{
  height: 30vh;
}
.vridhiwincontenet{
  border: 2px ssolid red;

  width: 50%;
}