*{
    padding: 0%;
    margin: 0%;
}




.something{
    background-color: #2c698d;
    color: white;
}

.projects h1{
    background-color: #ef5849;
    color: rgb(243, 2, 2);
    width: 220px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 9px gray;
}
.achievements h1{
    background-color: #ef5849;
    color: rgb(49, 34, 34);
    width: 780px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 9px gray;
}

.foot{
    background-color: #2c698d;
    height: 10vh;
    margin-top: 10%;
   
}
.foot h1{
    font-size: 18px;
    color: white;
    padding: 25px;
    
}
.card:hover{
    box-shadow: 3px 3px 9px #ef5849;
}
/* a{
    list-style: none;
    text-decoration: none;
} */